.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .FactText {
    color: green;
    text-shadow: 0 0 10px #00ff00, 0 0 10px #00ff00, 0 0 10px #00ff00, 0 0 10px #00ff00;
  }

  .FalseText {
    color: red;
    text-shadow: 0 0 5px #ff3737, 0 0 5px #ff3737, 0 0 5px #ff3737, 0 0 5px #ff3737;
  }
}

.gameDescription {
  font-size: 24px;
  margin-bottom: 20px;
  margin-inline: auto;
  margin-top: 100px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  border: white 2px solid;
  border-radius: 20px;
  backdrop-filter: blur(2px);
  text-align: center;
  height: 500px;

  h1 {
    margin: 0 0 20px 0;
  }

  p {
    margin: 10px 0 10px 0;

  }
}

.startButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.startButton:hover {
  background-color: #45a049;
}

.question {
  font-size: 24px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
  backdrop-filter: blur(1px);
}

.endContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.item {
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 500px;
}

.correct {
  border-color: green;
}

.incorrect {
  border-color: red;
}

.incorrectAns {
  color: red;
}

.correctAns {
  color: green;
}

.GameCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  backdrop-filter: blur(5px);
  border: white 2px solid;
  border-radius: 20px;
  width: 900px;
  height: 500px;
  text-align: center;
}

.ScoreInt {
  color: green;
}

.GameText {
  font-size: 20px;
  margin-bottom: 20px;
}

.Left {
  color: red;
}

.correctMessage {
  color: green;
}

.incorrectMessage {
  color: red;
}

.playAgainButton {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 20px;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
  &:hover {
    background-color: #285f2e;
    color: white;
  }
}